<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/cat" method="post">
		Name: <input type="text" name="name">
		Age: <input type="number" name="age">
		<input type="submit" value="Create a Cat!">
	</form>
</body>
</html>